<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Path Finder</title>
        <style>
            body { margin: 0; }
        </style>
        <script type="importmap">
            {
              "imports": {
                "three": "https://unpkg.com/three@v0.159.0/build/three.module.js",
                "three/addons/": "https://unpkg.com/three@v0.159.0/examples/jsm/"
              }
            }
          </script>
    </head>
    <body>
        <script type="module">
            const cubeCoordinates = JSON.parse('{{ coordinates|tojson }}');
            import cube from "/static/cube.mjs";
            cube(cubeCoordinates, 0xaaaaaa, 0x888888);
        </script>    
    </body>
</html>